@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Resetando estilos padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: Parkinsans, sans-serif;
}

/* Definindo variáveis para cores e fontes */
:root {
    --primary-color: #ffce00;
    --secondary-color: #262228;
    --secondary-hover: #000000;
    --background-color: #f3f2f2af;
    --hover-color: rgb(195, 194, 194);
    --text-color: #ffffff;
    --error-color: #e74c3c;
    --success-color: #35e87f;
    --font-family: 'Roboto', sans-serif;
}

/* Estilos globais */
body {
    font-family: var(--font-family);
    background: url(assets/Roupas.jpg);
    background-repeat: repeat;
    background-size: cover;
    color: var(--text-color);
    line-height: 1.6;
    width: 100%;
    height: 585px;

}
.blur{
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color: #000000;
    z-index: -1;
    opacity: 0.5;
}
.login{
    width: 650px;
    top: 30px;
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border-radius: 15px;
    position: relative;
    opacity: 1.0;
}
.logo2{
    width: 250px;
    margin-top: 15px;
    border-radius: 15px;
}
.container {
    top: 30px;
    background-color: var(--background-color);
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: relative;
    opacity: 1.0;
}
.header{
    background-color: var(--primary-color);
    max-width: 100vw;
    max-height: 80px;
    margin: 0 auto;
    top: 0;
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 45%;
    max-height: 80px;
    padding-left: 10px;
    align-items: center;
}
.sair{
    display: flex;
    left: 0;
    align-items: center;
}
.menu li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
}
.menu li a:hover{
    color: lightgray;
}
.sair li a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 18px;
    background-color: var(--secondary-color);
    margin-right: 30px;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
}
.sair li a:hover{
    color: lightgray;
    background-color: var(--secondary-hover);
}
.menu li img{
    padding-top: 10px;
}
.logo{
    width: 120px;
}
main{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main h1{
    font-size: 45px;
    width: 60%;
    text-align: center;
    color: var(--text-color);
    text-shadow: 5px 5px 5px black;
}
/* Estilos para ações na tabela */
table td a {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    transition: background-color 0.3s;
}

table td a:hover {
    color: white;
}

/* Estilo específico para o botão Excluir */
table td a:last-child {
    background-color: #e74c3c;
}

table td a:last-child:hover {
    background-color: #c0392b;
}
/* Estilos para tabelas */
table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.338);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
td{
    color: var(--secondary-color);
}

th {
    background-color: var(--secondary-color);
    color: #fff;
}

/* Estilos para imagens */
.thumbnail {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}

.update-image {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Estilos para mensagens */
.message {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: var(--error-color);
    text-shadow: 1px 1px 1px black;
}
.container a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
    background: 10px var(--secondary-color);
    padding: 10px;
    border-radius: 7px;
    align-self: flex-start;
}
.container a:hover {
    color: var(--secondary-color);
    background-color: var(--hover-color);
}
.container h2{
    color: var(--text-color);
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.success {
    background-color: var(--success-color);
    color: var(--text-color);
    text-shadow: 1px 1px 1px black;
}

.error {
    background-color: var(--error-color);
    color: var(--error-color);
    text-shadow: 1px 1px 1px black;
}
.botoes{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.botoes a{
    margin-right: 20px;
}
/* Estilos para formulários */
form {
    width: 95%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-shadow: 1px 1px 1px black;
}
input[type="image"]{
    color: var(--secondary-color);
}
button{
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s;
    background: 10px var(--secondary-color);
    padding: 10px;
    border-radius: 7px;
    align-self: flex-start;
    border: 0px;
}
button:hover{
    color: var(--secondary-color);
    background-color: var(--hover-color);
}
.loginmsg{
    margin: 0 auto;
    color: var(--text-color);
    text-shadow: 1px 1px 1px black;
    align-items: center;
    display: flex;
    text-align: center;
    border-radius: 5px;
}
.loginmsg p {
    text-align: center;
}
.containercenter{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width:768px) and (max-width:1023px) {
    .login{
        width: 550px; 
    }
    .logo2{
        width: 200px;
    }
    .menu li a{
        font-size: 15px;
    }
}
@media only screen and (max-width:425px){

    .login{
        width: 280px;
        flex-direction: column;
        height: 350px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .logo2{
       visibility: hidden;
    }
    .header{
        width: 200px;
        background-color: #c0392b;
    }
    .menu{
        width: 20%;
    }
    main h1{
        font-size: 10px;
    }
    .logo{
        width: 80px;
    }
}
@media only screen and (max-width:767px) and (min-width:426px){
    .login{
        width: 550px;
    }
    .logo2{
        width: 200px;
    }
}